name: Docker Build
on:
  push: 
    branches: main

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - 
        name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build
        id: build
        uses: docker/build-push-action@v4
        with:
          push: true
          context: .
          tags: zsm1703/topbot:latest
          platforms: linux/amd64, linux/arm64
          file: Dockerfile
